*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FF6900;
    position: fixed;
    left: 0;
    right: 0;
    padding: 1rem 10rem;
    justify-content: space-around;
    align-items: center;
}
header, main, footer, ul{
    display: flex;
}
ul{
    list-style-type: none;
}
#logo{
    height: 30px;
}
li{
    margin: 0 .3rem;
}