*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FF6900;
    position: sticky;
    left: 0;
    right: 0;
    padding: 1rem 10rem;
    justify-content: space-between;
    align-items: center;
}
header, main, footer, ul{
    display: flex;
}
ul{
    list-style-type: none;
}
#logo{
    height: 30px;
}
li{
    margin: 0 .3rem;
}
main{
    padding: 3rem 10rem;
}
figure > img{
    height: 450px;
}
figure{
    position: relative;
}
.container{
    position: absolute;
    left: 0;
    bottom: 2.7rem;
}
.sales{
    display: inline-block;
    background-color: #FF0000;
    position: relative;
}
.sostenibilita{
    display: inline-block;
    background-color: #008000;
    position: relative;
}
